export const layout = `
<div class="app-svg-colors">
    <div class="header">Convert XXX to YYY - C#</div>
    <div class="parameters">
        <div class="row">
            <div class="col-12 region">Input</div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="row">
                    <div id="colorPicker" class="colorPicker"></div>
                </div>
            </div>
            <div class="col"></div>
            <div class="col-6">
                <div class="row">
                    <div id="input" class="colorInputContainer"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 region">Output</div>
        </div>
        <div class="row pb-3">
            <div class="col-5 ml5p">
                <div class="row">
                    <div id="output_1" class="colorInputContainer"></div>
                </div>
                <div class="row">
                    <div id="output_2" class="colorInputContainer"></div>
                </div>
                <div class="row">
                    <div id="output_3" class="colorInputContainer"></div>
                </div>
                <div class="row">
                    <div id="output_4" class="colorInputContainer"></div>
                </div>
                <div class="row">
                    <div id="output_9" class="colorInputContainer"></div>
                </div>
                <div class="row">
                    <div id="output_10" class="colorInputContainer"></div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <div class="row">
                    <div id="output_5" class="colorInputContainer"></div>
                </div>
                <div class="row">
                    <div id="output_6" class="colorInputContainer"></div>
                </div>
                <div class="row">
                    <div id="output_7" class="colorInputContainer"></div>
                </div>
                <div class="row">
                    <div id="output_8" class="colorInputContainer"></div>
                </div>
                <div class="row">
                    <div id="output_11" class="colorInputContainer"></div>
                </div>
                <div class="row">
                    <div id="output_12" class="colorInputContainer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="codeblock" id="codeblock" style="padding-top:0px">
        <pre class="code"><code id="snippet" class="hljs csharp hidden"></code></pre>
    </div>
</div>
`