{{$allparams := .Params }}

{{ $baseUrl := index $allparams 0 }}

{{ $codeSnippets := index $allparams 1 }}

{{ $docLinks := .Get "docLinks" | default `` }}

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Live')">Live example</button>
    <button class="tablinks" onclick="openTab(event, 'Code')">Code snippet</button>
    <button class="tablinks" onclick="openTab(event, 'Docs')">Links to docs</button>
</div>

<div id="Live" class="tabcontent">
  <div class="conversion-module">  
    <div class="file-upload">
        <button class="flat-btn file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><span style="color: #fff">Add Image</span></button>
        <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="onFileInputChange(this, event);" accept="image/*,.psd,.psd,.ai" />
            <div class="drag-text">
            <h3>Drag and drop a file or select add Image</h3>
            </div>
        </div>
        <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
            <button type="button" onclick="removeUpload()" class="flat-btn remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
        </div>
        </div>
  </div>
  <div class="convert-options"><button class="file-convert-btn-png" type="button" onclick="convertTo('png')">Convert to png</button><button class="file-convert-btn-png" type="button" onclick="convertTo('jpg')">Convert to jpg</button><button class="file-convert-btn-png" type="button" onclick="convertTo('pdf')">Convert to pdf</button></div>
</div>
  
  <div id="Code" class="tabcontent">
    <p>You can reproduce the main functionality of this built-in app using <a href="https://releases.aspose.com/psd/net/">Aspose.PSD</a></p>
	<div class="code-sample">
    <pre>{{ $codeSnippets }}</pre>
	</div>
	 <p>You can download <a href="https://www.nuget.org/packages/Aspose.PSD/">Aspose.PSD from Nuget package manager</a></p>
  </div>
  
  <div id="Docs" class="tabcontent">
    <p>Check the following list of documentation links:</p>	
	<div class="code-sample">
	<ul class="link-list">
	{{range $index, $element := .Params}}
		{{ if gt $index 1}}
		  {{ if eq (mod $index 2) 0}}
		  <li class="link-item"><a href="{{ index $allparams (add $index 1) }}">{{ $element }}</a></li>
		  {{ end }}
		{{ end }}
    {{ end }}
	</ul>
	</div>
	
	<p>Please check the offical documentation <a href="https://docs.aspose.com/psd/">https://docs.aspose.com/psd/</a></p>

  </div>

<script>
const baseUrl = "{{ $baseUrl }}";
const needServerRenderFormats = ['.psd', '.psb', '.ai'];
const supportedUpload = ['.psd', '.psb', '.ai', '.rar', '.zip', '.7z', '.tar', '.png', '.tif', '.tiff', '.jpg', '.jpeg', '.gif', '.bmp', '.jp2'];
document.getElementsByClassName('image-upload-wrap')[0].addEventListener(
	'dragover', 
	function () { document.getElementsByClassName('image-upload-wrap')[0].classList.add('image-dropping'); }
);

document.getElementsByClassName('image-upload-wrap')[0].addEventListener(
	'dragleave', 
	function () { document.getElementsByClassName('image-upload-wrap')[0].classList.remove('image-dropping'); }
);

function openTab(evt, tabName) {
  let i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  document.getElementById(tabName).style.display = "block";
  if (evt != null) {
	  evt.currentTarget.className += " active";
  }
}

function ReadAsDataUrl(input) {
  let reader = new FileReader();

  reader.onload = function (e) {
    setPreviewSource(e.target.result, input.files[0].name);
  };

  reader.readAsDataURL(input.files[0]);
}

function doWeNeedServerRender(file) {
  let fileName = file.name.toLowerCase();
  for (let i = 0; i < needServerRenderFormats.length; i++) {
    if (fileName.endsWith(needServerRenderFormats[i])) {
      return true;
    }
  }

  return false;
}

function setPreviewSource(source, fileName) {
  document.getElementsByClassName('image-upload-wrap')[0].style.display = 'none';
  document.getElementsByClassName('file-upload-image')[0].setAttribute('src', source);
  document.getElementsByClassName('file-upload-content')[0].style.display = 'block';
  document.getElementsByClassName('image-title')[0].innerHTML = fileName;
}

function removeUpload() {
  document.getElementsByClassName("file-upload-content")[0].style.display = "none";
  document.getElementsByClassName("image-upload-wrap")[0].style.display = "block";
  document.getElementsByClassName("convert-options")[0].style.display = "none";
  document.getElementsByClassName("file-upload-btn")[0].innerHTML = "Add Image"
}

function convertTo(format) {
  let filesCount = window.psdUploadedFiles.length;
  let folderId = "";
  let fileName = "";
  
  for (let i = 0; i < filesCount; i++) {
    fileName += "fileName=" + window.psdUploadedFiles[i].fileName + "&";
  }
folderId = "folderName=" + window.psdUploadedFiles[0].idUpload + "&";

convertFile(fileName, folderId, format);
}

function isValidExtension(fileName) {
  
  var lowerFileName = fileName.toLowerCase();

  for (var i = 0; i < supportedUpload.length; i++) {
      if (lowerFileName.endsWith(supportedUpload[i])) {
          return true;
      }
  }

  return false;
};

function GetPreview(filename, folderId) {
  let url = "psd/conversion/api/GetPreview?" + filename + folderId;
  let previewPromise = getAsync(url);
 
  previewPromise.then((response) => {
  }).catch((response) => {
    console.error(response);
  });
  }

function downloadURI(uri, name) 
{
  let link = document.createElement("a");
  link.setAttribute('download', name);
  link.href = uri;
  document.body.appendChild(link);
  link.click();
  link.remove();
}

function convertFile(filename, folderId, outputFormat)
{
    let url = "psd/conversion/api/Convert?" + filename + folderId + "outputFormat=" + outputFormat;
    let convertPromise = getAsync(url);

    convertPromise.then((responseGet) => {
        let response = JSON.parse(responseGet);

        if (response.StatusCode === 200) {

          var result = response.FileName;
          let urlToDownload = baseUrl + "psd/common/api/DownloadFile?fileName=" + result;
          downloadURI(urlToDownload);
        }
        else {
          console.error(response);
        }
    }).catch((response) => {
        console.error(response);
    });
}

function startPromiseTimer(promise, methodToDo) {
  let isPromiseResolved = false;

  promise.then((response) => {
    isPromiseResolved = true;
  }).catch((response) => {
      isPromiseResolved = true;
  });

  var localTimer = setInterval(function() {
    if (isPromiseResolved) {
      clearInterval(localTimer);
    } else {
      methodToDo();
    }
  }, 500);
}

function onFileInputChange(input, e)
{
  e.preventDefault();
  if (input.files && input.files[0]) {
    let files = e.target.files;
    document.getElementsByClassName("convert-options")[0].style.display = "none";
    document.getElementsByClassName("file-upload-btn")[0].innerHTML = "Loading";
    let needServerRender = doWeNeedServerRender(input.files[0]);

    let postFilesPromise = postFilesAsync(files);
    startPromiseTimer(postFilesPromise, () => { document.getElementsByClassName("file-upload-btn")[0].innerHTML += "."; } );

    if (!needServerRender) {
      ReadAsDataUrl(input);
    }

    postFilesPromise.then((response) => {
        let responceJson = JSON.parse(response);
        let isMultipleUpload = Array.isArray(responceJson);
        if (needServerRender) {
          let filename = window.psdUploadedFiles[0].fileName;
          let folderId =  window.psdUploadedFiles[0].idUpload;
          let url = baseUrl +  "psd/compress/api/GetPreview?folderId=" + folderId + "&file=" + filename;
          setPreviewSource(url, input.files[0].name);
        } 
        document.getElementsByClassName("convert-options")[0].style.display = "block";
        document.getElementsByClassName("file-upload-btn")[0].innerHTML = "Select another"
    }).catch((response) => {
        console.error(response);
    });
  }
}

function postFilesAsync(files) {
  if (files.length === 1) {
      var requestData = prepareRequestFilesData(files);
      return postAsync(baseUrl + "psd/common/api/UploadFile", requestData);
  }

  var requestData = prepareRequestFilesData(files);
  return postAsync(baseUrl + "psd/common/api/UploadFiles", requestData);
}

function prepareRequestFilesData(filesList) {
  var form_data = new FormData();

  for (var i = 0; i < filesList.length && i < 10; i++) {
      form_data.append('file', filesList[i]);
  }

  return form_data;
}

function postAsync(url, requestBody, contentType) {
  if (!contentType) {
      contentType = false;
  }

  return new Promise(function (succeed, fail) {
      $.ajax({
          url: url,
          data: requestBody,
          type: 'POST', dataType: 'text', cache: false, contentType: contentType, processData: false,

          success: function (response) {
              registerUpload(url, response);
              succeed(response);
          },

          error: function (response) {
              fail(response);
          }
      });
  });
}

function getAsync(url, contentType) {

if (!contentType) {
    contentType = false;
}

return new Promise(function (succeed, fail) {
    $.ajax({
        url: baseUrl + url,
        dataType: 'text',
        cache: false,
        contentType: contentType,
        processData: false,
        type: 'GET',
        success: function (response) {
            succeed(response);
        },
        error: function (response) {
            fail(response);
        }
    });   
});
}

function registerUpload(url, resp) {
  if (!url || url.toLowerCase().indexOf('uploadfile') < 0) {
      return;
  }

  let response = JSON.parse(resp);

  if (!window.psdUploadedFiles) {
      window.psdUploadedFiles = [];
  }

  let file = {
      idUpload: response.FolderId,
      fileName: response.FileName
  };

  if (window.psdUploadedFiles.length == 0) {
    window.psdUploadedFiles.push(file);
  } else {
    window.psdUploadedFiles[0] = file;
  }
}

openTab(null, "Live");
</script>

<style>

.flat-btn {
    margin: 0;
    color: #fff !important;
	border-top: none;
	border-right: none;
	border-left: none;
    padding: 10px;
    border-radius: 4px;
    transition: all .1s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .flat-btn:hover {
    color: #ffffff;
    transition: all .1s ease;
    cursor: pointer;
    outline: none;
  }
  
  .flat-btn:active {
      margin-top: 2px;
  }
  
  .flat-btn:focus {
    outline: none;
  }

.link-list {
	margin-top: 20px;
	padding: 0px 0px 0px 35px;
	margin-bottom: 20px;
}

.link-item {
	line-height: 3;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    background: #30638e;
    border-bottom: 4px solid #1b4b72;
  }

 
  .file-upload-btn:hover {
    background: #4d92ca;
    border-bottom: 4px solid #30638e;
  }
  
  .file-upload-btn:active {
    border-bottom: 2px solid #1b4b72;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #30638e;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: rgba(102,187,255,.1);
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #4d92ca;
    border-bottom-color: #30638e;
    padding: 12px 5px 20px 5px;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {    
    background: #cd4535;    
    border-bottom: 4px solid #b02818;
  }
  
  .remove-image:hover {
    background: #c13b2a;
  }
  
  .remove-image:active {
    border-bottom: 2px solid #b02818;
  }

  .convert-options {
    width: 100%;
    height: 35px;
    padding: 2px 1.5% 2px 1.5%;
    display: none;
  }


  .convert-options button {
    width: 31.33%;
    background: rgb(77, 146, 202);
    border-left: none;
    padding: 0;
    border-right: none;
    border-top: none;
    border-bottom: 4px solid rgb(48, 99, 142);
    overflow: hidden;
    color: #fff;
    height: 26px;    
    margin: 0 1% 0 1%;
    cursor: pointer;
    outline: none;
    float: left;
  }

  .convert-options button:hover {
    background: rgba(77,146,202,.9);
  }

  .convert-options button:active {
    border-bottom: 2px solid rgb(48, 99, 142);
    height: 24px;
    margin-top: 2px;
    outline: none;
    transition: all .1s ease;
  }
  
  .code-sample {
    background: #f5f5ff;
    padding: 5px;
    border: 1px dashed rgba(32,32,32,0.1);
    margin: 10px 0 10px;
  }
  
  .code-sample > pre {
	margin: 5px 0 5px 0;
  }


</style>