{{$allparams := .Params }}

{{ $baseUrl := index $allparams 0 }}

{{ $codeSnippets := index $allparams 1 }}

{{ $docLinks := .Get "docLinks" | default `` }}

<div class="tab">
    <button class="tablinks" id="tab-live">Live example</button>
    <button class="tablinks" id="tab-code">Code snippet</button>
    <button class="tablinks" id="tab-docs">Links to docs</button>
</div>

<div id="Live" class="tabcontent">
  <div class="conversion-module">  
    <div class="file-upload">
        <button class="flat-btn file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )"><span style="color: #fff">Open Image</span></button>
        <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' accept="image/*,.psd,.psd,.ai,.rar,.zip,.tar,.7z,.jpg,.jp2,.png,." />
            <div class="drag-text">
            <h3>Drag and drop a file or click Open Image</h3>
            </div>
        </div>
        <div class="file-upload-content">
            <img class="file-upload-image" id="preview-img" src="#" alt="your image" />
			<div id="main-loader"></div>
            <div class="image-title-wrap">
            <button type="button" class="flat-btn remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
        </div>
        </div>
  </div>
  <div class="options"><button type="button" onclick="document.downloadImage()">Download Image</button></div>
</div>
  
  <div id="Code" class="tabcontent">
    <p>You can reproduce the main functionality of this built-in app using <a href="https://releases.aspose.com/psd/net/">Aspose.PSD</a></p>
	<div class="code-sample">
    <pre>{{ $codeSnippets }}</pre>
	</div>
	 <p>You can download <a href="https://www.nuget.org/packages/Aspose.PSD/">Aspose.PSD from Nuget package manager</a></p>
  </div>
  
  <div id="Docs" class="tabcontent">
    <p>Check the following list of documentation links:</p>	
	<div class="code-sample">
	<ul class="link-list">
	{{range $index, $element := .Params}}
		{{ if gt $index 1}}
		  {{ if eq (mod $index 2) 0}}
		  <li class="link-item"><a href="{{ index $allparams (add $index 1) }}">{{ $element }}</a></li>
		  {{ end }}
		{{ end }}
    {{ end }}
	</ul>
	</div>
	
	<p>Please check the offical documentation <a href="https://docs.aspose.com/psd/">https://docs.aspose.com/psd/</a></p>

  </div>
  
{{ $jstabs := resources.Get "js/psd/tabs.js" | js.Build (dict "params" ("test"))  }}
{{ $jsmain := resources.Get "js/psd/widgetcommon.js" | js.Build (dict "params" ("test"))  }}

{{ $tabs := resources.Get "css/psd/tabs.css" }}
{{ $flatwidget := resources.Get "css/psd/flatwidget.css" }}

<link rel="stylesheet" href="{{ $tabs.RelPermalink }}">
<link rel="stylesheet" href="{{ $flatwidget.RelPermalink }}">

<script type="text/javascript" src="{{ $jstabs.RelPermalink }}"></script>
<script type="text/javascript" src="{{ $jsmain.RelPermalink }}"></script>

<script>
const baseUrl = "{{ $baseUrl }}";
const supportedUpload = ['.psd', '.psb', '.ai', '.rar', '.zip', '.7z', '.tar', '.png', '.tif', '.tiff', '.jpg', '.jpeg', '.gif', '.bmp', '.jp2'];
</script>

<style>

</style>